[submodule "External/ReativeCocoa"]
	path = External/ReativeCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "External/TSMessages"]
	path = External/TSMessages
	url = https://github.com/toursprung/TSMessages.git
